################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Azure Functions local launchSettings
local.settings.json

localsettings.json


/.vs/config
packages/
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
config.local.json
appsettings.Local.json

# DNX
**/project.lock.json
artifacts/
*.orig
src/*/bower_components
src/*/node_modules
src/*/wwwroot/lib
src/*/wwwroot/_references.js
src/*/Properties/launchSettings.json
src/*/ClientApp/*.map
src/*/ClientApp/*.js
src/Ccs/*/bower_components
src/Ccs/*/node_modules
src/Ccs/*/wwwroot/lib
src/Ccs/*/wwwroot/_references.js
src/Ccs/*/Properties/launchSettings.json
src/Ccs/*/ClientApp/*.map
src/Ccs/*/ClientApp/*.js
src/Csp/*/bower_components
src/Csp/*/node_modules
src/Csp/*/wwwroot/lib
src/Csp/*/wwwroot/_references.js
src/Csp/*/Properties/launchSettings.json
src/Csp/*/ClientApp/*.map
src/Csp/*/ClientApp/*.js
src/Dss/*/bower_components 
src/Dss/*/node_modules
src/Dss/*/wwwroot/lib 
src/Dss/*/wwwroot/_references.js 
src/Dss/*/Properties/launchSettings.json
src/Dss\.Web/wwwroot/js/app.bundle.js
src/Dss\.Web/wwwroot/js/app.bundle.js.map
src/Dss\.Web/wwwroot/js/app.js.map
src/Dss\.Web/wwwroot/js/app.js
src/Dss/Dss.Web/wwwroot/js
src/Build/PackageCache/package-cache/
src/Build/package-temp/
.vs/
**/PublishProfiles/

scriptcs_packages
.vscode/
.idea/
src/*/*-swagger.json

# localsettings file
local.settings.json
